@import url("/components/navbar.css");

:root {
	--text-color: rgb(50, 50, 50);
	--highlight-color: #8B1A10;
}

* {
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	color: var(--text-color);
}

main {
	margin: 0;
	padding: var(--space-4);
}