@import url("/pages/knowledge-ingest.css");

@import url("/components/navbar.css");

:root {
	--text-color: rgb(50, 50, 50);
	--highlight-color: #8B1A10;
}

* {
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	color: var(--text-color);
}

body {
	background: rgb(250, 250, 250);
}

main {
	margin: 0;
	padding: var(--space-4);
	height: 100%;
	position: relative;
}